<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0839ce55-ffd7-43c3-adcb-3c33d3411a91/resourceGroups/rgPortfolio/providers/Microsoft.Web/sites/appDotNet7MinimalApiTemplate-Api</ResourceId>
    <ResourceGroup>rgPortfolio</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://appdotnet7minimalapitemplate-api.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://appdotnet7minimalapitemplate-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$appDotNet7MinimalApiTemplate-Api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>